---
import config from "@/lib/config";
import Section from "./partials/Section.astro";
import SectionTitle from "./partials/SectionTitle.astro";
import Quote from "./partials/Quote.astro";
import background from "../../assets/background.svg";
---

<Section id={config.pages.index.sections.experience.id}>
  <SectionTitle title={config.pages.index.sections.experience.title} />
  <div class="relative z-1 mb-2">
    <!-- Background start -->
    <div class="absolute inset-0 -z-1 pointer-events-none select-none">
      <img
        id="background"
        src={background.src}
        alt=""
        fetchpriority="high"
        class="w-full h-full object-contain blur-[48px]"
      />
    </div>
    <!-- Background end -->
    <!-- Experience start -->
    {
      config.pages.index.sections.experience.items.map((item) => (
        <div class="flex gap-4 md:gap-5 fade-up">
          <div class="w-0.25 md:w-[5%]">
            <div class="flex items-center relative">
              <div class="w-0.25 h-20 bg-[linear-gradient(to_bottom,_var(--background)_0%,_var(--background-2)_50%,_var(--background)_100%)] shadow-[0.5px_0_1px_var(--card)]" />
              <div class="flex-1 h-0.25 bg-[linear-gradient(to_right,_var(--background-2)_0%,_var(--background)_100%)] shadow-[0_0.5px_1px_var(--card)]" />
              <div class="absolute top-1/2 right-0 translate-x-1/2 md:translate-x-0 -translate-y-1/2 w-2 h-2 bg-[var(--background-2)] rounded-xl border-1 border-background" />
            </div>
          </div>
          <div class="flex-1">
            <p class="font-ibm text-xl md:text-2xl font-semibold mb-3 mt-6.5 md:mt-6">
              {item.role}
            </p>
            <p class="font-ibm text-sm md:text-base font-light mb-3">
              {item.timeline}
              {item.isInternship && (
                <>
                  {" "}
                  <span class="text-sm">&#9702;</span> INTERNSHIP
                </>
              )}
            </p>
            {item.company.url ? (
              <a
                href={item.company.url}
                target="_blank"
                class="text-xl md:text-2xl"
              >
                {item.company.name}
              </a>
            ) : (
              <p class="text-xl md:text-2xl">{item.company.name}</p>
            )}
            <div class="my-8 md:my-10 leading-relaxed text-sm md:text-base space-y-4">
              {item.paragraphs.map((paragraph) => (
                <p set:html={paragraph} class="fade-up" />
              ))}
            </div>
          </div>
        </div>
      ))
    }
    <!-- Experience end -->
  </div>
  <Quote quote={config.pages.index.sections.experience.quote} />
</Section>
