---
import config from "@/lib/config";
import Section from "./partials/Section.astro";
import SectionTitle from "./partials/SectionTitle.astro";
import Quote from "./partials/Quote.astro";
import background from "../../assets/background.svg";
---

<Section id={config.pages.index.sections.skills.id}>
  <SectionTitle title={config.pages.index.sections.skills.title} />
  <div class="pt-4 mb-20 space-y-14 relative z-1">
    <!-- Background start -->
    <div class="absolute inset-0 -z-1 pointer-events-none select-none">
      <img
        id="background"
        src={background.src}
        alt=""
        fetchpriority="high"
        class="w-full h-full object-contain blur-[48px]"
      />
    </div>
    <!-- Background end -->
    {
      config.pages.index.sections.skills.items.map((item) => (
        <div class="fade-up">
          <p class="font-ibm text-xl md:text-2xl font-semibold mb-8 text-center md:text-left">
            {item.title}
          </p>
          <div class="flex gap-4 flex-wrap justify-center md:justify-start fade-up">
            {item.items.map((skill) => (
              <div class="py-2 px-5 rounded-full bg-background border-1 border-card shadow-[-2px_-2px_4px_rgba(255,255,255,1),_2px_2px_4px_rgba(0,0,0,0.1)] dark:shadow-[-2px_-2px_4px_rgba(0,0,0,1),_2px_2px_4px_rgba(255,255,255,0.1)]">
                <p class="text-sm md:text-base font-semibold">{skill}</p>
              </div>
            ))}
          </div>
        </div>
      ))
    }
  </div>
  <Quote quote={config.pages.index.sections.skills.quote} />
</Section>
